{{#each items}}
  {{#if requiresLogin}}
    {{#if_logged_in}}
      <a class="header-link" href="{{href}}">{{title}}</a>
    {{/if_logged_in}}
  {{else}}
    <a class="header-link" href="{{href}}">{{title}}</a>
  {{/if}}
{{/each}}
